
.todos-list {
        list-style: none;
        padding-left: 0;
    }

    .todos-list-item {
        float:left;
        display: block;
        width: 100%;
        height: 50px;
        }
        .todos-list-item:after {
            content: '';
            clear: both;
            display: table;
            }

        .todos-list-item-ready-marker {
            float: left;
            margin-right: 16px;
            }

        .todos-list-item-text-w {
            overflow: hidden;
            }

            .todos-list-item-text {
                width: 100%;
                }

        .todos-list-item-remove {
            position: relative;
            float: right;
            margin-left: 16px;
            display: none;
            visibility: hidden;
            }

            .todos-list-item:hover .todos-list-item-remove {
                width: 30px;
                height: 30px;
                display: block;
                visibility: visible;
                padding-right: 4px;
                border: none;
                background: url(../../../images/close.png) 6px 7px no-repeat;
            }
            @media (-webkit-min-device-pixel-ratio: 1.5),
               (min-resolution: 120dpi),
               (min-resolution: 1.5dppx) {
            .todo-list-item-remove {
                background: url(../../../images/close@2x.png) no-repeat 0 0;
                }
            }