.todos-list-item-checkbox {
    position: absolute;
    left: -9999px;
}

.todos-list-item-checkbox + label {
    border: solid 2px #ccc;
    border-radius: 50%;
    display: block;
    width: 30px;
    height: 30px;
    float: left;
}

.checkbox-label {
    position: relative;
    bottom: 8px;
    margin-left: 10px;
    float: left;
    font-family: Helvetica, sans-serif
}

.todos-list-item-checkbox:checked + label {
    background: url(../../../images/completed.png) 6px 7px no-repeat;
    border-color: #6AC6B4;
}

    /*.checkbox-label_striked {*/
         /*position: relative;*/
         /*bottom: 8px;*/
         /*font-family: Helvetica, sans-serif;*/
         /*margin-left: 10px;*/
         /*float: left;*/
         /*color: #666;*/
         /*text-decoration: line-through;*/
         /*border-color: #6AC6B4;*/
    /*}*/

    /*.checkbox-label_checked:after {*/
        /*background: url(../../../images/completed.png) 6px 7px no-repeat;*/
        /*border-color: #6AC6B4;*/
        /*text-decoration: line-through;*/
    /*}*/

.todos-list-item-remove {
    float: right;
}

